{% extends 'core/base.html' %}
{% load static %}
{% block title %}New subject{% endblock %}
{% block content%}

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-3">
    {% for subject in request.user.profile.subjects.all %}
      <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <div class="img-highlight">
            <a href="{% url 'subject' subject.id %}">
              {% if subject.image %}
                <img src="{{subject.image.url}}" alt="img-subject" border="0" class="d-block mx-lg-auto img-fluid"
                     width="300em" loading="lazy"/>
              {% else %}
                <img src="{% static 'core/img/no-subject.png' %}" alt="img-subject" border="0" class="d-block mx-lg-auto img-fluid"
                     width="300em" loading="lazy"/>
              {% endif %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-text text-card-color">{{subject}}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}