{% extends 'core/base.html' %}
{% load static %}
{% block title %}New password{% endblock %}
{% block content%}

<style>.errorlist{color:#ef476f;}</style>

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4 mt-3 title-text">Enter the new password</h3>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat password"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Submit"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Password reset failed</h3>
          <p>Password reset link is invalid, request a new password change <a href="{% url 'password_reset' %}">here</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}