{% extends 'core/base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block content%}

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mt-3">
        <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4 title-text">Change my password</h3>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Old password"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat password"></p>
            <p><input type="submit" class="btn btn-color " value="Submit"></p>
        </form>
      </div>
    </div>
  </div>

{% endblock %}